@model DegicEducation.Models.CourseViewModel
@{
    ViewData["Title"] =" " + @Model.Name;
}


   <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Khóa học</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/khoa-hoc">Danh sách khóa học</a></li>
                <li class="active text-gray-silver">@Model.Name</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Blog -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-9 blog-pull-right">
            <div class="blog-posts single-post">
              <article class="post clearfix mb-0">
                <div class="entry-header">
                  <div class="post-thumb thumb"> <img src="@Model.Image" alt="@Model.Name" class="img-responsive img-fullwidth"> </div>
                </div>  
                <div class="entry-title pt-10 pl-15">
                  <h4><a class="text-uppercase" href="#">@Model.Name</a></h4>
                </div>
                <div class="entry-meta pl-15">
                  <ul class="list-inline">
                    <li>Học phí: <span class="text-theme-color-2 price"> @Model.Price</span></li>
                    <li>Trạng thái: <span class="text-theme-color-2">@Model.Status</span></li>
                  </ul>
                </div>
                <div class="entry-content mt-10">
                  @Html.Raw(@Model.Content)
                </div>
              </article>
              <div class="tagline p-0 pt-20 mt-5"><div class="row"></div></div>
              <div class="comment-box">
                <div class="row">
                  <div class="col-sm-12">
                    @{ var comments = "http://degic.vn/danh-sach/khoa-hoc/" + @Model.Name;}
                    <div class="fb-comments" data-href="@comments" data-width="100%" data-numposts="10"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          @await Component.InvokeAsync("NewCourse") 
        </div>
      </div>
    </section>