@model IEnumerable<DegicEducation.Models.CourseViewModel>
@{
    ViewData["Title"] = " - các khóa học của chúng tôi";
}


    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/images/bg/bg3.jpg">
      <div class="container pt-70 pb-20">
        <!-- Section Content -->
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <h2 class="title text-white">Khóa học</h2>
              <ol class="breadcrumb text-left text-black mt-10">
                <li><a href="/">Trang chủ</a></li>
                <li class="active text-gray-silver">Danh sách khóa học</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- Section: Course gird -->
<section>
    <div class="container">
        <div class="row">
            <div class="blog-pull-right">
                <div class="row">
                    @foreach(var c in Model)
                    {
                        var clink = "/khoa-hoc/" + @c.Alias;
                        <div class="col-sm-6 col-md-4">
                            <div class="service-block bg-white">
                                <div class="thumb">
                                    <a href="@clink"><img alt="featured project" src="@c.Image" class="img-fullwidth"></a>
                                    <h4 class="text-white mt-0 mb-0"><span class="price">@c.Price</span></h4>
                                </div>
                                <div class="content text-left flip p-25 pt-0">
                                    <a href="@clink"><h4 class="line-bottom mb-10">@c.Name</h4></a>
                                    <p>@c.ShortDesciptions</p>
                                    <a class="btn btn-dark btn-theme-colored btn-sm text-uppercase mt-10" href="@clink">xêm thêm</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>