@model IEnumerable<DegicEducation.Areas.Admin.Models.PostViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="dashboard_graph">
        <div class="row x_title">
            <div class="col-md-10">
                <h2>Danh sách bài viết</h2>
            </div>
            <div class="col-md-2">
                <a href="/admin/post/new"><input type="button" class="btn btn-primary" value="Thêm mới" /></a>
            </div>
        </div>
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table id="tablesource" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Chủ đề</th>
                        <th>Hiển thị</th>
                        <th>Trang chủ</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Tên</th>
                        <th>Chủ đề</th>
                        <th>Hiển thị</th>
                        <th>Trang chủ</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.Name</td>
                            <td>@m.CategoryName</td>
                            <td>@m.Activated</td>
                            <td>@m.HomePage</td>
                            <td style="text-align: right">
                                <a class="btn btn-primary fa fa-pencil" href="/admin/post/update/@m.Id"></a>
                                <a class="btn btn-danger fa fa-trash-o" onclick="del(@m.Id)"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
    <br /><br />
        </div>
        <div class="clearfix"></div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function del(id){
        var c = confirm("Bạn có chắc là xoa chủ đề này ?");
            if(c){
                $.ajax({
                    url: "/admin/post/delete/" + id,
                    type: "DELETE",
                    dataType: 'json',
                    success: function(mess){
                        window.location.reload();
                    },
                    error: function(error){
                        alert(error);
                    }
                })
            }
        };
    </script>
}